body{
    background-color: beige;
}

h1{
    font-family: cursive;
}

.nav{
    list-style: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: 0;
}

main{    
display: inline flex;
justify-content: flex-end;
flex-flow: nowrap column-reverse;
}